.hidden {
	visibility : hidden;
}
.required {
	color: #CC0000;
}
#errorExplanation {
	color: #CC0000;
	border: 1px #CC0000 solid;
	background: #fee;
	padding: 10px;
	margin-bottom: 1em;
}
#errorExplanation p, #errorExplanation ul li {color: #CC0000;}
.fieldWithErrors label {
	color:#CC0000;
}
.alternateRow {
	background: #f7f7f7;
}
.readonly {
	background: #f7f7f7;
}
.hint {
	cursor:help;
	/*border:1px solid gray;
	background-color:#eee;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;*/
	padding: 0 0 2px 16px;
	background: url(/speck/images/icons/silk/help.png) no-repeat;
}
#loading, #saving {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none; 
	background-color: #484;
	padding:2px;
}
body {
	background: #ece9d8; 
	background-color: #ece9d8; 
	font: 10px Verdana, Helvetica, sans-serif;
	color: #000000
}

h1, h2, h3, h4, h5, h6, form { 
	margin: 0;
	padding: 0; 
}
h1 { font-size: 150%; margin: 3px 0;}
h2 { font-size: 120%; }
h3 { font-size: 100%; }
		
p, table {
	font: 10px Verdana, Helvetica, sans-serif; 
	color: #000000;
}
p {margin: 0 0 5px 0;}

input, select, textarea {
	font: 10px Verdana, Helvetica, sans-serif;
	color: #000000
}
/*input, textarea {max-width:450px;} */
input.text, input.html, textarea.text, textarea.html {width:100%}
input.button {
	font: 10px Verdana, Helvetica, sans-serif;
	color: #000000
}
tr, td {
	vertical-align : top;
}
th {
   background-color: #6684A3;
   color: #FFFFFF;
   white-space: nowrap;
   font-weight: bold;
}
table caption {
	text-align: left;
	font-weight: bold;
}
fieldset, x:-moz-any-link { 
	-moz-border-radius: 6px;
	border: 1px solid lightgray;
}
legend, x:-moz-any-link {color:mediumblue;}