/* styles for the admin links etc. which are embedded into the output */

/* float clearing for IE6 */
* html .spClearfix{
  height: 1%;
  overflow: visible;
}
/* float clearing for IE7 */
*+html .spClearfix{
  min-height: 1%;
}
/* float clearing for everyone else */
.spClearfix:after {
	content: " ";
	display: block;
	font-size:0;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* required for safari */
.spClearfix { display: block; }

/* block surrounding each content item */
.spContentAdmin {border:0;}
.spContentAdmin.spContentHighlight {
	border: 1px #484 solid;
	background: #efe;
	opacity: .80;
	filter: alpha(opacity=80); 
	-moz-opacity: 0.8;	
}
.spContentAdmin.spContentWarning {
	border: 1px #CC0000 solid;
	background: #fee;
	opacity: .80;
	filter: alpha(opacity=80); 
	-moz-opacity: 0.8;	
}
/* span around admin links */
.spAdminLinks {
	font:10px Verdana, Arial, Helvetica, sans-serif;
}
/* admin links */
a.spAdminLink {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#0000FF;
	text-decoration:underline;
}
a.spAdminLink:hover {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	background-color:#484;
	color:white;
	text-decoration:none;
}
a.spAdminLink.spAdminWarning:hover {
	font:10px Verdana, Arial, Helvetica, sans-serif;
	background-color:#CC0000;
	color:white;
	text-decoration:none;
}
/* block surrounding each output cache when viewing cache info */
.spCacheInfo {
	border:1px solid silver;
}
/* heading block for each output cache */
.spCacheInfoHeading {
	background:silver;
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:black;
}

/* icons for admin links */
a.spAdd {background: url(/speck/images/icons/silk/page_white_add_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
a.spEdit {background: url(/speck/images/icons/silk/page_white_edit_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
a.spDelete {background: url(/speck/images/icons/silk/page_white_delete_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
a.spPromote {background: url(/speck/images/icons/silk/page_white_get_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
a.spReview {background: url(/speck/images/icons/silk/page_white_magnify_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
a.spDemote {background: url(/speck/images/icons/silk/page_white_put_small.png) no-repeat; padding:0 0 0 11px; color:#000; text-decoration:none;}
