body {
	background: #ece9d8; 
	background-color: #ece9d8; 
	font: 11px Verdana, Helvetica, sans-serif;
	color: #000000
}

h1, h2, h3, h4, h5, h6, form { 
	margin: 0;
	padding: 0; 
}
h1 { font-size: 150%; margin: 3px 0;}
h2 { font-size: 120%; }
h3 { font-size: 100%; }
		
p, table {
	font: 11px Verdana, Helvetica, sans-serif; 
	color: #000000;
}
p {margin: 0 0 5px 0;}
input, select, textarea {
	font: 10px Verdana, Helvetica, sans-serif;
	color: #000000
}
input.button {
	font: 10px Verdana, Helvetica, sans-serif;
	color: #000000
}
tr, td {
	vertical-align : top;
}
th {
   background-color: #6684A3;
   color: #FFFFFF;
   white-space: nowrap;
   font-weight: bold;
}
table caption {
	text-align: left;
	font-weight: bold;
}
fieldset, x:-moz-any-link { 
	-moz-border-radius: 6px;
	border: 1px solid lightgray;
}
legend, x:-moz-any-link {color:mediumblue;}

table.cffm_filelist {
	border-collapse: collapse;
}
.cffm_filelist th {
	color: white;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}
.cffm_filelist td.actionLinks {
}
.cffm_filelist tr {background-color:white;}
.cffm_filelist tr.alternateRow {background-color:#f7f7f7;}
.cffm_filelist td {padding:3px;}
textarea.cffm_editor {
	width: 100%;
	height: 400px;
}

.cffm_errorMessage { background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }
.cffm_errorMessage h3 {
	font-weight: bold;
	font-size: 18px;
}
.cffm_errorMessage p { color: #400; }
.cffm_errorMessage ul li { color: #400; }
table.zipcontents {
	border-collapse: collapse;
	border: 1px solid #000000;
}
table.zipcontents tr.headrow td {
	padding: 3px;
	background-color: navy;
	color: white;
	font-weight: bold;
}
table.zipcontents td {
	padding: 3px;
	border: 1px solid #000000;
}
div.cffmDirectoryLinks {
	margin-bottom: 5px;
}
A.downloadLink {
	font-size: 9px;
}

#loading, #saving {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none; 
	background-color: #484;
	padding:2px;
}
